.UserInfo {
  text-align: center;
}

.UserImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.main {
  margin-top: 8rem;
}
