.MuiButtonBase-root {
  padding: 8px 20px !important;
}

.css-p55zm9-MuiButtonBase-root-MuiIconButton-root {
  margin: 0 40px 0px -12px !important;
}

.css-de9k3v-MuiDataGrid-selectedRowCount {
  visibility: hidden !important;
  width: auto;
  height: auto;
}

.wrap {
  margin-top: -50px;
}

.face-graph {
  display: flex;
  margin-left: 8%;
  width: 100%;
}

.face-graph img {
  height: 600px;
  width: auto;
  margin-right: 100px;
}

.back {
  z-index: 999;
  position: absolute;
  font-size: 18px;
  width: 200px;
  right: 10%;
}

.description {
  margin-right: 100px;
}

.graph-description {
  margin-top: -52px;
}
